<turbo-frame id="new_comment" target="_top">
  <%= form_with model: [@post, @comment], local: true do |f| %>
    <%= f.text_area :body, size: "30x6", class: "text-form", autofocus: true %>
    <div class="requirements-submit">
      <span>Comment limit: 1-500 characters</span>
      <%= f.submit "Submit comment", class: "post-comment-submit" %>
    </div>
    <%= f.hidden_field :user_id, value: current_user.id %>
  <% end %>
</turbo-frame>
