.nav-page {
  min-width: 920px;
  width: 100%;
  max-width: 1920px;
  margin: auto;
  position: sticky;
  top: 0px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  background-color: rgb(104, 207, 238);
  height: 55px;
}

.nav-icon-container {
  display: flex;
  align-items: center;
}
 
.nav-button {
  background-color: black;
  color: white;
  font-weight: bold;
  margin-left: 15px;
  margin-right: 6px;
  padding: 2px 4px;
}

.nav-button:hover {
  background-color: rgb(97, 97, 97);
}

.nav-icon {
  height: 35px;
  width: 35px;
  margin-left: 6px;
  margin-right: 6px;
}

.nav-icon:hover {
  background-color: rgb(44, 189, 233);
}

.nav-text {
  padding-left: 1px;
  padding-right: 10px;
}