.like-btn {
  display: flex;
  align-items: center;
  padding-left: 3px;
  padding-right: 3px;
}

.like-icon {
  height: 20px;
}

.notification-btn {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(104, 207, 238);
  padding: 2px 4px;
}

.notification-btn:hover {
  background-color: rgb(22, 181, 230);
}

.received-buttons {
  display: flex;
  justify-content: space-between;
  width: 30%;
}

.post-comment-submit {
  background-color: rgb(104, 207, 238);
  padding: 2px 4px;
}

.google-sign-in {
  background-image: url("assets/btn_google_signin_dark_normal_web.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 170px;
  height: 45px;
  border-color: rgb(39, 133, 240);
}

.google-sign-in:hover {
  border-color: rgb(3, 3, 138);
}