.post-link-container {
  display: flex;
  align-self: center;
  width: 100%;
  margin-top: 50px;
}

.post-link {
  color: rgb(0, 0, 0);
}

.post-link:visited {
  color: rgb(0, 0, 0);
}

.post-link:hover {
  background-color: rgb(104, 207, 238);
}

.comment-link-container {
  grid-row: 4;
  grid-column: 2;
  margin-top: 20px;
}

.comment-link {
  color: rgb(0, 0, 0);
}

.comment-link:visited {
  color: rgb(0, 0, 0);
}

.comment-link:hover {
  background-color: rgb(104, 207, 238);
}

.profile-link {
  color: rgb(0, 0, 0);
  width: max-content;
  text-decoration: none;
}

.profile-link:visited {
  color: rgb(0, 0, 0);
}

.profile-link:hover {
  color: rgb(110, 110, 110);
  text-decoration: underline;
}

.profile-link-post {
  grid-column: 2;
  grid-row: 2;
}

.edit-profile-link {
  color: rgb(0, 0, 0);
  width: max-content;
  grid-row: 3;
}

.edit-profile-link:visited {
  color: rgb(0, 0, 0);
}

.edit-profile-link:hover {
  background-color: rgb(104, 207, 238);
}

.nav-link {
  color: rgb(0, 0, 0);
}

.nav-link:hover {
  color: rgb(110, 110, 110);
}

.nav-link:visited {
  color: rgb(0, 0, 0);
}