.comment-header {
  margin-top: 10px;
}

.comment-section-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  grid-row: 6 / 7;
  grid-column: 1 / 3;
}

.comment-content-container {
  display: flex;
  flex-direction: column;
}

.comment-body {
  margin-top: 10px;
}

.comment-user {
  margin-top: 5px;
  margin-bottom: 10px;
}