.content-wrapper {
  max-width: 960px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
 
.page-header {
  margin-top: 15px;
  margin-bottom: 15px;
}

.notice {
  max-width: 960px;
  margin: auto;
  background-color: rgb(104, 207, 238);
}

.alert {
  max-width: 960px;
  margin: auto;
  background-color: rgb(104, 207, 238);
}